body{
    background: peachpuff;
}
.search-box{
    overflow: hidden;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    height: 15vw;
    display: inline-flex;
    align-items: center;
}
svg{
    display: flex;
    height: 15vw;
    background: darkseagreen;
    padding-inline: 4vw;
    fill: white;
}
input, .search-box div{
    background: white;
    height: 15vw;
    width: 60vw;
    border: none;
    outline: none;
    font-size: 8vw;
    padding-inline-start: 2.5vw;
}
input:before{
    content:"open";
    color: black;
}
.search-box div{
    width: calc(60vw + 1px);
    background: darkseagreen;
    position: absolute;
    top: -100%;
    right: 0;
    transition: 0.6s;
}